
.logo {
	position: absolute;
	top: 12px;
	left: 40px;
}

.remejai li {
	display: inline-block;
}

.text-wide {
	width: 90%;
	max-width: 4000px;
}

.partner-text {
	padding-right: 200px;
}

.nav-wrapper {
	padding-right: 40px;
}

.breadcrumb {
	padding-left: 40px;
}

.img-fix {
	background-attachment: fixed;
}

.logotrip {
	position: absolute;
	top:0px;
	left: 80px;
	margin-left: 10px;
}

.page-footer {
	margin-bottom: 0px;
}