/*Globalus css*/
.logo {
	position: absolute;
	top:16px;
	left: 40px;
}

.remejai li {
	display: inline-block;
}

.text-wide {
	width: 90%;
	max-width: 4000px;
}

.partner-text {
	padding-right: 200px;
}

.nav-wrapper {
	padding-right: 40px;
}

.breadcrumb {
	padding-left: 40px;
}

.img-fix {
	background-attachment: fixed;
}

/*single entry puslapio stilius*/
body {
background-color: rgba(92, 133, 255, 0.70);
}

body {
font-style: sans-serif;
font-size: 20px;
color: white;
}

h2 {
	text-align: center;
	height: 400px;
    background-image: url("./../img/europe333.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 80%;
}

h2 {
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 90px;
}

h3 {
	text-align: center;
	margin: 60px;
}

.countries-list {
	display: inline-block;
	width: 14.286%;
	font-size: 16px;
	vertical-align: top;
}
.countries-list h3 {
	text-align: center;
	margin:	20px;
	padding: 0;
}

.countries-list a {
color: #2196f3;
}

.alphabet-countries {
font-size: 0;
}

.zemynu-foto {
	height: 100px;
	margin-top: 35px;
}

.zemynu-listas {
display: inline;
	margin-left: 0px;
	padding: 0;
}

.zemynu-listas li {
	width: 20%;
	display: inline-block;
	float: left;
}

.button {
    text-transform: none;
    color: white;
    background: #2196f3;
    font: inherit;
    margin: 0;
    color: #2196f3;
}

.button, select {
   
    color: white;
    background: #2196f3;
    border-radius: 30%;
}

.page-footer {
	display: inline-block;
}

/*about puslapio stilius*/

.about-photo {
	text-align: center;
	height: 400px;
    background-image: url("./../img/about-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 80%;
}

.why-travel {
	background-image: url("./../img/about222.jpg");
	padding-left: 20px;
	margin-top: 10px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 70% 80%;
}

.info-inline {
text-align: center;
padding: 0;
}

.contact-info h4{
	margin top: 42;
	margin bottom: 42;
	padding-left: 18px;
}
